/*
//
// Header
// --------------------------------------------------

.header {

  // Page Header
  // --------------------------------------------------
  .page-header {
    text-align: center;
  }
}



//
// media-querys
// --------------------------------------------------

.header {
  padding: @space; // Padrão para todas as resoluções

  @media (max-width: @screen-xs-max) {
    background: #fff;
  }

  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  @media (min-width: @screen-lg-min) {
    position: fixed;
    // O top, right e left está escalando na resolução 'sm', não precisa repetir :)
  }
}
*/