/*
//
// Page Header
// --------------------------------------------------

.page-header {
  text-align: center;

  h1 {
    border-bottom: @gray-lighter solid 1px;
    color: @gray-light;
    padding-bottom: @space-sm;
  }

  p {
    color: @gray;
  }
}
*/