// Other Colors @purpleColor: #9D8AC7; @mustardColor: #d4d171;@lightredColor: #e15258;


//cores principais
$clr-primary							=		#eb6a5a; //cor predominante
$clr-inverse							=		#424242; //cor contrastante
$clr-default							=		#efefef; //cor padrao

$clr-secondary						=		$clr-info; //cor secundaria

//cores informativas (utilizadas em mensagens, etc)
$clr-danger								=		#bd362f; 
$clr-success							=		#8bbf61; 
$clr-warning							=		#ab7a4b;
$clr-info									=		#4193d0;

//backgrounds
$clr-body-bg              =   #fff;
$clr-container-bg         =   $clr-default;
$clr-content-bg           =   #fafafa;
$clr-footer-bg						=		$clr-default;				

$clr-some-bg              =   #d8e1e6;



//textos
$clr-body-txt             =   #525252;
$clr-link                 =   $clr-info;
$clr-link-hover           =   #333333;
$clr-headings             =   #4d4d4d;

//bordas
$clr-container-border     =   #d8d8d8;
$clr-content-border-prim  =   $clr-default;
$clr-content-border-sec   =   #ebebeb;