//breakpoints
$screen-phone   = 480px;
$screen-tablet  = 980px;
$screen-desktop = 1300px;

//configs
$container-max-w       = $screen-desktop;
$container-min-w       = $screen-phone;
$column-qtd            = 12;
$column-w              = $container-max-w / $column-qtd; //column width
$column-space-out      = 10px; //padding
$column-space-bottom   = .3em


$grid-correction  = (((0.5 / $container-min-w) * 100) * 1%); //unused