/*
//
// Margins
// --------------------------------------------------

@space:    20px; // Regular space margin

@space-xs: (@space / 4); // Extra small space margin
@space-sm: (@space / 2); // Small space margin
@space-md: (@space * 2); // Medium space margin
@space-lg: (@space * 3); // Large space margin
*/