//$colums-sz      = 80px;
phone    = "(max-width: " + ($screen-phone) + ")"
tablet   = "(min-width: " + ($screen-phone + 1) + ") and (max-width: " + ($screen-tablet) + ")"
desktop  = "(min-width: " + ($screen-tablet + 1) + ") and (max-width: " + ($screen-desktop) + ")"