$clearfix
  overflow auto
  zoom 1
  &:after
    clear:both
  &:before,
  &:after
    content:""

//display
$il-block
  display inline-block
$block
  display block
$none
  display none

//alinhamentos
$al-middle
  vertical-align middle

//textos
$center
  text-align center
$txt-left
  text-align left
  
$up
  text-transform uppercase

//floats
$fl
  float left
$fr
  float right
$cb
  clear both

//size
$full-w
  width 100%
$full-h
  height 100%
$full
  width 100%
  height 100%