//margin
$space-out          =     20px;
$space-out-xs       =     $space-out / 4;
$space-out-sm       =     $space-out / 2;
$space-out-md       =     $space-out * 2;
$space-out-lg       =     $space-out * 4;

//padding
$space-in          =     10px;
$space-in-xs       =     $space-in / 4;
$space-in-sm       =     $space-in / 2;
$space-in-md       =     $space-in * 2;
$space-in-lg       =     $space-in * 4;