/*
//
// Typography
// --------------------------------------------------

#type {

  // Headings
  // --------------------------------------------------

  .h1() {
    .font(36, 700);
    margin-bottom: @space;
  }

  // Paragraphs
  // --------------------------------------------------

  .p1() {
    .font(16);
  }
}
*/
  