.my-div
  border 1px solid purple
  column(6)
  height 100px
  @media tablet
    column(6)
    border 14px solid red
    height 100px
  @media phone
    column(12)
    border 3px solid
    height 20px