/*
//
// Home
// --------------------------------------------------

.home {

  // Header
  // --------------------------------------------------
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  // Page Header
  // --------------------------------------------------
  .page-header {
    padding: @space @space-lg;
  }

}
*/